#Folders
session_topology/lab/data/association_matrix.tsv

#Files
.Rhistory
~*
*~
.DS_Store
Gemfile.lock

# ignore .vscode folder
.vscode

# ignore data
session_ml/SingleCell/lab/data
**/data/

# for gems lab
cplex_studio2211.linux_x86_64.bin
install.properties